*{
    margin: 0; /* Margem */ 
    padding: auto;  /*Preenchimento da margem*/ 
    scroll-behavior: smooth; /*comportamento da rolagem suave*/
}

body{
    height: 100%;
    background: white;
    font-family: Arial, sans-serif, Helvetica, ;
    color:#d69778 ;
}

header{
    background:#eeb599 ;
    position: sticky
    top=0;
    z-index: 1;
}

.pagina-inicial{
    padding: 0 8.4rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.icone{
    font-size: 1.5rem;
    font-weight: 800; /*100 - 1000*/
}

.icone img{
    height: 56px;
    width: 56px;
    object-fit: contain;
}

ul{
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background: transparent;
    overflow: hidden;
}

li a{
    display: inline-block;
    padding: .3rem 1rem;
    color:white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;

}

li a:hover{
    color:#eb590f
}

.pessoal{
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    row-gap: gap 2rem;
    column-gap: 6rem;
    align-items: center;
}

.pessoal h1{
    color:#eb590f;
    font-size: 4rem;
    font-weight: 800;
}

.foto{
    border-radius: 10px;
    width: 200px;
    border-top:2px solid #eb590f ;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: auto;
    overflow: hidden;
   
}

.foto img {
    width: 100%;
    height: auto;
}

.redes-sociais{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.redes-sociais a{
    display: grid;
    place-items: center;
    text-decoration: none;
    color:  #eb590f ;
    border: 1.6px solid #d69778;
    border-radius: 50%;
    padding: 0.4rem;
    text-align: center;

}

.redes-sociais a:hover{

    color: white;
    background-color: #d69778;
}